<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Page Information</title>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>

    <script type="text/template" id="templateFirstPage">
        <h1>Property Cross</h1>
        <button id="faves">Faves</button>
        <p id="descr">
            Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. A aliquam consectetur consequuntur
            cupiditate eaque fugiat illum libero, natus neque nulla odio
            omnis quae quasi quo ratione similique tenetur vitae voluptate.
        </p>
        <p>
            <input id="cityInput" type="text"/>
        </p>
        <button id="go">GO</button>
        <div id="list">
            <span>last search 1</span>
        </div>
    </script>
    <script type="text/template" id="templateSearchPage">
        <h1>Found <%= totalResults %> matches</h1>
        <button id="backToMain">Back</button>
        <ul id="search">
            <% _.each(model, function(item) { %>
            <li id="<%= item.guid %>">
                <img src="<%= item.smallImg %>" alt="picture" align="left"/>
                <div id="price"><strong>Price - </strong>$<%= item.price %></div>
                <div id="place"><strong>Location - </strong><%= item.place %></div>
            </li>
            <% }) %>
        </ul>
    </script>
    <script type="text/template" id="templateDetails">
        <h1><%= title %></h1>
        <button id="backToSearch">Back</button>
        <button id="addToFaves">+</button>
        <h2>$<%= price %></h2>
        <h2><%= place %></h2>
        <img src="<%= bigImg %>" alt="picture"/>
        <p><%= bedroomNumber %> bedroom, <%= bathroomNumber %> bathroom</p>
        <p><%= keywords %></p>
        <p><%= description %></p>
    </script>
    <script type="text/template" id="templateError">
        <p>Error input! Check the correct input city and try again.</p>
    </script>
    <script src="lib/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="lib/underscore.js" type="text/javascript"></script>
    <script src="lib/backbone.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
</body>
</html>