button {
    width: 80px;
    height: 25px;
    font: 20px Georgia;
}

#faves {
    margin-left: 90%;
}

li {
    list-style-type: none;
    border: 1px solid black;
    margin: 5px;
}

h1 {
    text-align: center;
}